In [1]:
import pandas as pd
import camelot

In [62]:
df19 = pd.DataFrame(columns = ['icd', 
                          'cases_w', 
                          'days_w', 
                          'spell_w', 
                          'cases_m', 
                          'days_m', 
                          'spell_m', 
                          'cases_tot', 
                          'days_tot', 
                          'spell_tot'
                           #,'year'
                              ])

In [ ]:
tables = camelot.read_pdf(r'***\2019.pdf',
                         pages = "3-26", flavor = 'stream', edge_tol=500)

In [63]:
for x in range(29):
    df1 = tables[x].df
    df1 = df1.drop([0,1,2])
    df1 = df1.set_axis(['icd', 
                      'cases_w', 
                      'days_w', 
                      'spell_w', 
                      'cases_m', 
                      'days_m', 
                      'spell_m', 
                      'cases_tot', 
                      'days_tot', 
                      'spell_tot'], axis=1)
    #df1['year'] = 2019
    df19 = df19.append(df1)
    
df19 = df19[:-1]
df19

,icd,cases_w,days_w,spell_w,cases_m,days_m,spell_m,cases_tot,days_tot,spell_tot
3,A00,404,2.205,5,433,2.117,5,837,4.322,5
4,A01,380,2.532,7,430,3.300,8,810,5.832,7
5,A02,1.375,17.868,13,1.402,14.451,10,2.777,32.319,12
6,A03,254,1.390,5,268,1.547,6,522,2.937,6
7,A04,11.198,84.853,8,12.073,77.032,6,23.271,161.885,7
...,...,...,...,...,...,...,...,...,...,...
26,T94,487,8.615,18,825,18.655,23,1.312,27.270,21
27,T95,198,2.316,12,227,4.006,18,425,6.322,15
28,T96,21,499,24,12,61,5,33,560,17
29,T97,5,105,21,9,620,69,14,725,52
30,T98,391,10.084,26,578,19.278,33,969,29.362,30

In [64]:
def convert_to_float(value):
    try:
        return float(value)
    except ValueError:
        return None  # Or any other value you want to use for empty cells

for column in df19.columns[1:10]:
    df19[column] = df19[column].apply(str)
    df19[column] = df19[column].str.replace('.','',  regex=False)
    #df19[column] = df19[column].str.strip()
    df19[column] = [convert_to_float(value) for value in df19[column]]
    
df19

,icd,cases_w,days_w,spell_w,cases_m,days_m,spell_m,cases_tot,days_tot,spell_tot
3,A00,404.0,2205.0,5.0,433.0,2117.0,5.0,837.0,4322.0,5.0
4,A01,380.0,2532.0,7.0,430.0,3300.0,8.0,810.0,5832.0,7.0
5,A02,1375.0,17868.0,13.0,1402.0,14451.0,10.0,2777.0,32319.0,12.0
6,A03,254.0,1390.0,5.0,268.0,1547.0,6.0,522.0,2937.0,6.0
7,A04,11198.0,84853.0,8.0,12073.0,77032.0,6.0,23271.0,161885.0,7.0
...,...,...,...,...,...,...,...,...,...,...
26,T94,487.0,8615.0,18.0,825.0,18655.0,23.0,1312.0,27270.0,21.0
27,T95,198.0,2316.0,12.0,227.0,4006.0,18.0,425.0,6322.0,15.0
28,T96,21.0,499.0,24.0,12.0,61.0,5.0,33.0,560.0,17.0
29,T97,5.0,105.0,21.0,9.0,620.0,69.0,14.0,725.0,52.0
30,T98,391.0,10084.0,26.0,578.0,19278.0,33.0,969.0,29362.0,30.0

In [ ]:
icd = pd.read_excel(r'***\classification_icd.xlsx',
                    'SA ICD-10 MIT 2021' ) 
icd = pd.DataFrame(icd)
icd = icd[['Chapter_Desc', 'Group_Code', 'Group_Desc', 'ICD10_3_Code', 'ICD10_3_Code_Desc']]

icd.drop_duplicates(subset="ICD10_3_Code", keep="first", inplace=True)
icd

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Chapter_Desc,Group_Code,Group_Desc,ICD10_3_Code,ICD10_3_Code_Desc
0,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A00,Cholera
4,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A01,Typhoid and paratyphoid fevers
10,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A02,Other salmonella infections
16,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A03,Shigellosis
23,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A04,Other bacterial intestinal infections
...,...,...,...,...,...
40953,Morphology of neoplasms (M000-M999),995 (M995-M997),Morphology Classification: Chronic myeloprplif...,M995,Chronic myeloprpliferative disorders
40956,Morphology of neoplasms (M000-M999),995 (M995-M997),Morphology Classification: Chronic myeloprplif...,M996,Chronic myeloprpliferative disorders
40975,Morphology of neoplasms (M000-M999),995 (M995-M997),Morphology Classification: Chronic myeloprplif...,M997,Other haematologic disorders
40982,Morphology of neoplasms (M000-M999),998 (M998),Morphology Classification: Myelodysplastic syn...,M998,Myelodysplastic syndromes
41004,Morphology of neoplasms (M000-M999),999 (M999),Morphology Classification: Refractory conditions,M999,Refractory conditions

In [66]:
df19 = icd.merge(df19, left_on='ICD10_3_Code', right_on='icd',  how='right')
df19

,Chapter_Desc,Group_Code,Group_Desc,ICD10_3_Code,ICD10_3_Code_Desc,icd,cases_w,days_w,spell_w,cases_m,days_m,spell_m,cases_tot,days_tot,spell_tot
0,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00,404.0,2205.0,5.0,433.0,2117.0,5.0,837.0,4322.0,5.0
1,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A01,Typhoid and paratyphoid fevers,A01,380.0,2532.0,7.0,430.0,3300.0,8.0,810.0,5832.0,7.0
2,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A02,Other salmonella infections,A02,1375.0,17868.0,13.0,1402.0,14451.0,10.0,2777.0,32319.0,12.0
3,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A03,Shigellosis,A03,254.0,1390.0,5.0,268.0,1547.0,6.0,522.0,2937.0,6.0
4,Certain infectious and parasitic diseases (A00...,001 (A00-A09),Intestinal infectious diseases,A04,Other bacterial intestinal infections,A04,11198.0,84853.0,8.0,12073.0,77032.0,6.0,23271.0,161885.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,"Injury, poisoning and certain other consequenc...",218 (T90-T98),"Sequelae of injuries, of poisoning and of othe...",T94,Sequelae of injuries involving multiple and un...,T94,487.0,8615.0,18.0,825.0,18655.0,23.0,1312.0,27270.0,21.0
1925,"Injury, poisoning and certain other consequenc...",218 (T90-T98),"Sequelae of injuries, of poisoning and of othe...",T95,"Sequelae of burns, corrosions and frostbite",T95,198.0,2316.0,12.0,227.0,4006.0,18.0,425.0,6322.0,15.0
1926,"Injury, poisoning and certain other consequenc...",218 (T90-T98),"Sequelae of injuries, of poisoning and of othe...",T96,"Sequelae of poisoning by drugs, medicaments an...",T96,21.0,499.0,24.0,12.0,61.0,5.0,33.0,560.0,17.0
1927,"Injury, poisoning and certain other consequenc...",218 (T90-T98),"Sequelae of injuries, of poisoning and of othe...",T97,Sequelae of toxic effects of substances chiefl...,T97,5.0,105.0,21.0,9.0,620.0,69.0,14.0,725.0,52.0
1928,"Injury, poisoning and certain other consequenc...",218 (T90-T98),"Sequelae of injuries, of poisoning and of othe...",T98,Sequelae of other and unspecified effects of e...,T98,391.0,10084.0,26.0,578.0,19278.0,33.0,969.0,29362.0,30.0

In [ ]:
df19.to_stata(r'***\auf19.dta')